<% if(grabs.length == 0){ %>
<div class="row">
	<div class="col-xs-6">
		<h3 class="title">No hay notificaciones.</h3>
	</div>
</div>
<% }else{ %>
<div class="row">
	<div class="col-xs-6">
		<h3 class="title">Grabaciones listas:</h3>
	</div>
</div>
<div id="grabaciones-listas">
<% for(var i in grabs){ %>
<div class="row no-buffer notification">
	<div class="col-xs-3 col-md-1">
		<label>Grabación disponible:</label>
	</div>
	<div class="col-xs-5 col-md-3">
		<img src="/images/emisoras/<%= grabs[i].radio %>.jpg" class="icono">  <label>  <%= new Date(grabs[i].inicio).toLocaleString() %>  |  <%= grabs[i].duracion %> minutos</label>
	</div>
	<div class="col-xs-1">
		<a class="delete" title="Borrar el fichero de audio" class="btn btn-danger" href="<%= url_frontend %>/delete/<%- getMD5(grabs[i].id) %>/<%= grabs[i].id %>"><i class="glyphicon glyphicon-trash"></i></a>
	</div>
	<div class="col-xs-4 col-md-3 no-gutter">
		<div class="col-xs-6">
			<a class="btn btn-violet" href="<%= url_almacenamiento %>/grabaciones/<%= grabs[i].id %>.mp3"><i class="glyphicon glyphicon-save" style="vertical-align: bottom;"></i> Descargar</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a id="play<%= grabs[i].id %>-button" class="btn btn-violet" href="#" onclick='playSound("play<%= grabs[i].id %>");'><i class="glyphicon glyphicon-headphones" style="vertical-align: bottom;"></i> Escuchar</a>
		</div>
	</div>
	<div class="col-md-3">
    	<audio id="play<%= grabs[i].id %>" style="display:none;" type="audio/mp3" controls autoplay>
    	</audio>
	</div>
</div>
<% } %>
</div>
<script type="text/javascript">

$('.delete').click(function(event) {
	$.get($(this).attr('href'), function() {
		location.reload();
	});
	return false;
});

function playSound(id){
	$("#"+id).show();
	$("#"+id).attr("src",'<%= url_almacenamiento %>/stream/<%= grabs[i].id %>');
	$("#"+id+"-button").attr('onclick','stopSound("play<%= grabs[i].id %>");');
	$("#"+id+"-button").html('<i class="glyphicon glyphicon-stop" style="vertical-align: bottom;"></i> Parar');
}
function stopSound(id){
	$("#"+id).attr("src",'');
	$("#"+id+"-button").attr('onclick','playSound("play<%= grabs[i].id %>");');
	$("#"+id+"-button").html('<i class="glyphicon glyphicon-headphones" style="vertical-align: bottom;"></i> Escuchar');
	$("#"+id).hide();
}
</script>
<% } %>