<div style="background: #E3E3E3; padding:20px;">
<header>
  <h2> Usuarios </h2>
</header>
<hr />
  <div class="row">
    <div class="col-xs-1">
      <label><u>User</u></label>
    </div>
    <div class="col-xs-4">
      <label><u>Fecha</u></label>
    </div>
    <div class="col-xs-5">
      <label><u>Asunto</u></label>
    </div>
  </div>
 <hr />
 <br>
<% for (var i in asists) { %>
  <div class="row top-buffer">
    <div class="col-xs-1">
      <label> <%= asists[i].userid %></label>
    </div>
    <div class="col-xs-4">
      <label> <%= asists[i].createdAt.toLocaleString() %></label>
    </div>
    <div class="col-xs-5">
      <a href="/gestion/asistencia/<%= asists[i].id %>/show"><%- getString(asists[i].asunto) %></a>
    </div>
    <div class="col-xs-2">
       <% var formname = 'fui' + i; %>
       <form method='post' action='/gestion/asistencia/<%= asists[i].id %>' id='<%= formname %>'>
          <input type='hidden' name='_method' value='delete'>
             <a href="#" onclick="confirmarSubmit('¿Borrar la grabación?', 
                                                 '<%= formname %>'); return false;" class="btn btn-danger"><i class="glyphicon glyphicon-trash icon-white"></i></a>
       </form>
    </div>
  </div>
  </hr>
<%  }; %>
</div>
<nav>
  <ul class="pagination">
   <% if(index > 1){ %> 
    <li>
      <a href="/gestion/asistencia?index=<%= index-1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% } %>

    <% var i; %>
    <% for(i=index-2; i<= index-(-2); i++){ %>
    <% if(i>0 && i <= pages){ %>
    <li><a href="/gestion/asistencia?index=<%= i %>"><%= i %></a></li>
    <% } %>
    <% } %>

    <% if(index < pages){ %>
    <li>
      <a href="/gestion/asistencia?index=<%= index-(-1) %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <% } %>
  </ul>
</nav>